@font-face {
  font-family: "icon"; /* Project id 4620628 */
  src: url('iconfont.woff2?t=1732634883405') format('woff2');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-script:before {
  content: "\e63b";
}

.icon-empty:before {
  content: "\e817";
}

.icon-zhongduan:before {
  content: "\e62b";
}

.icon-import:before {
  content: "\e614";
}

.icon-plus:before {
  content: "\e747";
}

.icon-image:before {
  content: "\e605";
}

.icon-audio:before {
  content: "\e602";
}

.icon-video:before {
  content: "\e604";
}

.icon-unknow:before {
  content: "\e606";
}

.icon-network:before {
  content: "\e648";
}

.icon-gateway:before {
  content: "\e98b";
}

.icon-delete:before {
  content: "\e680";
}

.icon-pen-1:before {
  content: "\e824";
}

.icon-copy:before {
  content: "\e6f5";
}

.icon-warn:before {
  content: "\e670";
}

.icon-pen:before {
  content: "\e65a";
}

.icon-bug:before {
  content: "\e8e8";
}

.icon-ssl:before {
  content: "\e613";
}

.icon-mirror:before {
  content: "\e76a";
}

