.detail-object-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px 10px 10px;
  overflow: hidden;

  .title-wrap {
    flex-shrink: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;

    .icon {
      cursor: pointer;
      -webkit-app-region: no-drag;

      &:hover {
        color: #dfdfdf;
      }

      &:active {
        color: #999;
      }
    }
  }

  .detail-object-table {
    width: 100%;
    flex-grow: 1;
    border: 1px solid #464646;
    overflow: auto;

    &-row {
      width: 100%;
      height: 32px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #464646;

      &.editable {
        height: 40px;
        .detail-object-table-cell {
          line-height: 38px;
          padding: 0;
        }
      }
    }

    &-cell {
      width: 50%;
      height: 100%;
      line-height: 30px;
      padding: 0 10px;
      border-right: 1px solid #464646;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:last-child {
        border-right: 1px solid #464646;
      }

      &.op {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          cursor: pointer;

          &:hover {
            color: #efae22;
          }
        }
      }

      .el-input__inner {
        height: 38px;
        border-color: transparent;

        &:focus {
          border-color: #efae22;
        }
      }
    }
  }
}